name: CI
on:
  push:
    branches: [main]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  linux-unittests:
    name: Unit tests - ${{ matrix.env }}
    timeout-minutes: 15
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        env:
          - skl11
          - skl12
          - skl13
          - skl14
          - skl15
          - lgbm33
          - lgbm40
          - lgbm41
          - lgbm42
          - lgbm43
          - lgbm46
          - py310
          - py311
          - py312
          - py313
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # v0.9.3
        with:
          environments: ${{ matrix.env }}
      - name: Install repository
        run: pixi run -e ${{ matrix.env }} postinstall
      - name: Run unittests
        uses: pavelzw/pytest-action@510c5e90c360a185039bea56ce8b3e7e51a16507 # v2.2.0
        with:
          custom-pytest: pixi run -e ${{ matrix.env }} test
          report-title: Unit tests - ${{ matrix.env }}

  pre-commit:
    name: pre-commit checks
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7 # v0.9.3
        with:
          environments: lint default
      - run: pixi run -e lint pre-commit-run
